body{
    background-color: rgb(155, 227, 174);
    color: azure;
    margin: 20px;
    padding: 50px;
}

body > header{
    background: orangered;
    color: white;
    padding: 25px;
    text-align: center;
}

h1{
    font-size: 3.5em;
    color: orangered;
}

h2{
    font-size: 2.5em;
    color: olivedrab;
}

p{
    font-family: sans-serif;
    line-height: 1.4em;
}
